In [1]:
import pandas as pd

In [2]:
wc_df = pd.read_csv('data/world_cities.csv',index_col=0)
wc_df

    City / Urban area     Country  Population  Land area (in sqKm)
0        Buenos Aires   Argentina    11200000                 2266
1           Melbourne   Australia     3162000                 2080
2              Sydney   Australia     3502000                 1687
3            Brisbane   Australia     1508000                 1603
4               Perth   Australia     1177000                  964
..                ...         ...         ...                  ...
245            Canton         USA      267000                  372
246           Spokane         USA      335000                  371
247          Tashkent  Uzbekistan     2200000                  531
248  Ho Chi Minh City     Vietnam     4900000                  518
249            Harare    Zimbabwe     1750000                  712

[249 rows x 4 columns]

In [23]:
wc = wc_df.loc[:,['Country','City / Urban area']]
filter = wc['Country'].value_counts() == 4
filter

USA            False
France         False
Brazil         False
Canada         False
Germany        False
               ...
Ireland        False
South Korea    False
Indonesia      False
Netherlands    False
Lebanon        False
Name: Country, Length: 61, dtype: bool

In [21]:
wc['Country'].value_counts()[filter]

Italy    4
Name: Country, dtype: int64

In [24]:
wc['Country'].value_counts()

USA            105
France          15
Brazil          10
Canada           9
Germany          8
              ...
Ireland          1
South Korea      1
Indonesia        1
Netherlands      1
Lebanon          1
Name: Country, Length: 61, dtype: int64