# 02_dataFrame 에 값 쓰기2

여러줄을 바꾸는 방법은?

In [53]:
import pandas as pd

In [54]:
iphone_df = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

바꿀 컬럼음 선택해보자

In [55]:
iphone_df[['디스플레이','Face ID']]

               디스플레이 Face ID
iPhone 7         4.7      No
iPhone 7 Plus    5.5      No
iPhone 8         4.7      No
iPhone 8 Plus    5.5      No
iPhone X         5.8     Yes
iPhone XS        5.8     Yes
iPhone XS Max    6.5     Yes

바꿀 컬럼을 바꿔보자

In [56]:
iphone_df[['디스플레이','Face ID']] = 'x'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16     x  2GB  iOS 10.0       x
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X       2017-11-03     x  3GB  iOS 11.1       x
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

로우도 똑같이 바꿀수 있다 ()

In [57]:
iphone_df.loc[['iPhone 7','iPhone X']] = 'o'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

연속된 줄들도 한번 바꿔보자 먼저 row부터 바꿔보자

In [58]:
iphone_df.loc['iPhone 7':'iPhone X']

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus  2016-09-16     x  3GB  iOS 10.0       x
iPhone 8       2017-09-22     x  2GB  iOS 11.0       x
iPhone 8 Plus  2017-09-22     x  3GB  iOS 11.0       x
iPhone X                o     o    o         o       o

In [59]:
iphone_df.loc['iPhone 7':'iPhone X'] = 'o'
iphone_df.loc['iPhone 7':'iPhone X']

              출시일 디스플레이 메모리 출시 버전 Face ID
iPhone 7        o     o   o     o       o
iPhone 7 Plus   o     o   o     o       o
iPhone 8        o     o   o     o       o
iPhone 8 Plus   o     o   o     o       o
iPhone X        o     o   o     o       o

In [60]:
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                o     o    o         o       o
iPhone 7 Plus           o     o    o         o       o
iPhone 8                o     o    o         o       o
iPhone 8 Plus           o     o    o         o       o
iPhone X                o     o    o         o       o
iPhone XS      2018-09-21     x  4GB  iOS 12.0       x
iPhone XS Max  2018-09-21     x  4GB  iOS 12.0       x

colums 도 똑같이 해보자

In [61]:
iphone_df.loc[:,'디스플레이':'출시 버전'] = 'change'

In [62]:
iphone_df

                      출시일   디스플레이     메모리   출시 버전 Face ID
iPhone 7                o  change  change  change       o
iPhone 7 Plus           o  change  change  change       o
iPhone 8                o  change  change  change       o
iPhone 8 Plus           o  change  change  change       o
iPhone X                o  change  change  change       o
iPhone XS      2018-09-21  change  change  change       x
iPhone XS Max  2018-09-21  change  change  change       x

In [63]:
iphone_df = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

그럼 이번엔 조건에 맞는 줄의 값들을 바꿔보자

In [64]:
iphone_df['디스플레이'] > 5

iPhone 7         False
iPhone 7 Plus     True
iPhone 8         False
iPhone 8 Plus     True
iPhone X          True
iPhone XS         True
iPhone XS Max     True
Name: 디스플레이, dtype: bool

In [65]:
iphone_df.loc[iphone_df['디스플레이'] > 5]

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [66]:
iphone_df.loc[iphone_df['디스플레이'] > 5] = 'p'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     p    p         p       p
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     p    p         p       p
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p

위치로도 값을 바꿔줄수 있다

In [74]:
iphone_df.iloc[[1,3],[1,4]]

              디스플레이 Face ID
iPhone 7 Plus     p       p
iPhone 8 Plus     p       p

In [76]:
iphone_df.iloc[[1,3],[1,4]] = 'v'
iphone_df

                      출시일 디스플레이  메모리     출시 버전 Face ID
iPhone 7                1   4.7  2GB  iOS 10.0      No
iPhone 7 Plus           p     v    p         p       v
iPhone 8       2017-09-22   4.7  2GB  iOS 11.0      No
iPhone 8 Plus           p     v    p         p       v
iPhone X                p     p    p         p       p
iPhone XS               p     p    p         p       p
iPhone XS Max           p     p    p         p       p