# 08_match_puzzle

In [51]:
import pandas as pd

df = pd.read_csv('https://github.com/codeit-courses/data-science/raw/master/Puzzle_before.csv')

df['A'] = df['A']*2
df[df.loc[:,'B':'E'] <= 80] = 0
df[df.loc[:,'B':'E'] > 80] = 1
df.loc[3,'F'] = 99
df

    A  B  C  D  E   F
0   2  0  0  1  0  13
1   4  0  0  1  0  24
2   6  1  0  1  0  29
3   8  1  0  0  1  99
4  10  0  1  0  0  61