# 데이터 사이언스 입문
## jupyter notebook
### 11 jupyter Notebook 에서 값 출력하기

#### 변수 그대로 출력하기

In [1]:
x = 17
x

17

#### `print`문을 이용한 여러줄출력

In [2]:
print(2 + 5)
print(x)
print(3 * 8)

7
17
24

#### jupyter notebook 의 여러줄 출력

In [3]:
2 + 5
x
3 * 4

12

마지막 줄만 보여줌

#### `print`문과 jupyter notebook 의 혼합 여러줄 출력의 결과

In [4]:
2 + 5
x
print(2 + 5)
print(x)
print(3 * 4)
3 * 4

7
17
12

12

 위에 두줄의 결과는 출력이 안됨

#### `print` 문과 jupyter notebook 의 출력 차이점

In [11]:
import pandas as pd

df = [
    ["","name", "position", "born", "number", "nationality"],
    [0, "roberto firmino", "fw",1991,"no.9","브라질"],
    [1, "Sadio Mane", "fw", 1992, "no.10","세네갈"],
    [2, "minjung","fw",1996,"no. 1","한국"],
    [3, "uygyo","df",1993,"no. 2","한국"],
    [4, "ㅁㄹㄴㅁ","gk",1997,"no. 3","afsfa"],
    [5, "asfsda","mf",1998,"no.4","asdfas"]
]

df = pd.read_cav('data/liverpool.cav')

In [12]:
print(df)

[['', 'name', 'position', 'born', 'number', 'nationality'], [0, 'roberto firmino', 'fw', 1991, 'no.9', '브라질'], [1, 'Sadio Mane', 'fw', 1992, 'no.10', '세네갈'], [2, 'minjung', 'fw', 1996, 'no. 1', '한국'], [3, 'uygyo', 'df', 1993, 'no. 2', '한국'], [4, 'ㅁㄹㄴㅁ', 'gk', 1997, 'no. 3', 'afsfa'], [5, 'asfsda', 'mf', 1998, 'no.4', 'asdfas']]

In [13]:
df

[['', 'name', 'position', 'born', 'number', 'nationality'],
 [0, 'roberto firmino', 'fw', 1991, 'no.9', '브라질'],
 [1, 'Sadio Mane', 'fw', 1992, 'no.10', '세네갈'],
 [2, 'minjung', 'fw', 1996, 'no. 1', '한국'],
 [3, 'uygyo', 'df', 1993, 'no. 2', '한국'],
 [4, 'ㅁㄹㄴㅁ', 'gk', 1997, 'no. 3', 'afsfa'],
 [5, 'asfsda', 'mf', 1998, 'no.4', 'asdfas']]

파일이 안받아져서 안보이지만 실제로는 그냥 출력하는게 더 이쁨