In [117]:
%matplotlib inline
import pandas as pd

df = pd.read_csv('data/silicon_valley_details.csv')

adoby_bool = df['company'] == 'Adobe'
is_Overall_totals = df['race'] == 'Overall_totals'
isn_total = df['job_category'] != 'Totals'
isn_priv_total = df['job_category'] != 'Previous_totals'

is_none_zero = df['count'] > 0
is_index_exe = df.index == 'Executives'
is_index_man = df.index == 'Managers'
is_index_pro = df.index == 'Professionals'
is_index_sal = df.index == 'Sales workers'
is_index_admin = df.index == 'Administrative support'
index_bool = is_index_exe | is_index_man | is_index_pro | is_index_sal | is_index_admin

df.loc[adoby_bool&is_Overall_totals&isn_total&isn_priv_total&is_none_zero,]
#df.loc[adoby_bool&is_none_zero&index_bool&adoby_bool&is_Overall_totals,'count'].plot(kind='pie',y='job_category')

    company  year            race gender            job_category  count
333   Adobe  2016  Overall_totals    NaN              Executives     93
334   Adobe  2016  Overall_totals    NaN                Managers   2448
335   Adobe  2016  Overall_totals    NaN           Professionals   3028
337   Adobe  2016  Overall_totals    NaN           Sales workers   1270
338   Adobe  2016  Overall_totals    NaN  Administrative support    323

In [114]:
df['job_category'].unique()

array(['Executives', 'Managers', 'Professionals', 'Technicians',
       'Sales workers', 'Administrative support', 'Craft workers',
       'operatives', 'laborers and helpers', 'Service workers', 'Totals',
       'Previous_totals'], dtype=object)