In [147]:
import pandas as pd
import numpy as np

samsong_df = pd.read_csv('data/samsong.csv')
hyundee_df = pd.read_csv('data/hyundee.csv')
h_df = hyundee_df[['요일','문화생활비']]
s_df = samsong_df[['요일','문화생활비']]

In [148]:
two_dimensional_list = []
col = s_df.columns
ind = s_df.index
for i in range(0,len(h_df)):
    if h_df.loc[ind[i],col[0]]==s_df.loc[ind[i],col[0]]:
        two_dimensional_list.append([h_df.loc[ind[i],col[0]],s_df.loc[ind[i],col[1]],h_df.loc[ind[i],col[1]]])
        
result = pd.DataFrame(two_dimensional_list,columns = ['day','samsong','hyundee'])
result

   day  samsong  hyundee
0  MON     4308     5339
1  TUE     7644     3524
2  WED     5674     5364
3  THU     8621     9942
4  FRI    23052    33511
5  SAT    15330    19397
6  SUN    19030    19925