신주쿠 한달치 하루 매출의 리스트가 있습니다 목표 20만엔(200000)를 달성하지 못한 날만 출력해보자

In [1]:
import numpy as np

revenue_in_yen = [
    300000, 340000, 320000, 360000, 
    440000, 140000, 180000, 340000, 
    330000, 290000, 280000, 380000, 
    170000, 140000, 230000, 390000, 
    400000, 350000, 380000, 150000, 
    110000, 240000, 380000, 380000, 
    340000, 420000, 150000, 130000, 
    360000, 320000, 250000
]

In [4]:
no_goal = np.array(revenue_in_yen)

In [6]:
no_goal = no_goal[no_goal<200000]

In [7]:
no_goal

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])